<div class="home-back">
   <div class="mainwidth">
      <div id="home-images">
         <div class="home-img">
            <a href="#" target="_blank">
            <%= image_tag 'bestSeller.jpg' %>
            </a>
            <div class="stat">
               <h2>Best Sellers</h2>
            </div>
         </div>
         <div class="home-img">
            <div class="hover">
               <a href="" target="_blank">
               <%= image_tag 'classic.jpg' %>
               </a>
            </div>
            <div class="stat">
               <h2>Classics</h2>
            </div>
         </div>
         <div class="home-img">
            <div class="hover">
               <a href="" target="_blank">
               <%= image_tag 'novels.jpg' %>
               </a>
            </div>
            <div class="stat">
               <h2>Amazing Novels</h2>
            </div>
         </div>
      </div>
   </div>
</div>
