<div class="mainwidth">
   <div class="home-img2">
      <a href="#" target="_blank">
      <%= image_tag 'poerty.jpg' %>
      </a>
      <a href="#" class="info">
         <div class="stat2">
            <h2>Poetry</h2>
         </div>
      </a>
   </div>
   <div class="home-img2">
      <a href="#" target="_blank">
      <%= image_tag 'romantic.jpg' %>
      </a>
      <a href="#" class="info">
         <div class="stat2">
            <h2>Romantic</h2>
         </div>
      </a>
   </div>
</div>
