$("#order-item-<%= @item.id %>").remove();
$('.cart-total').text("<%= cart_items %>");
$('.cart-price').text("<%= number_to_currency current_order.total_price %>");
<% if cart_items == 0 %>
  $('#cart-with-items').after('<p>Your shopping cart is empty.</p>');
  $('#cart-with-items').remove();
<% end %>
